@{
    ViewBag.Title = "Trang Chủ";
}

@{
    for (int i = 0; i < 5; i++)
    {
        
        <div class="products">
            <img class="pd-img"  src="~/Content/HinhAnh/img06.jpg"  width="233" height="245"/>
        <div class="pd-des"><br>
            <ul style="text-align:left;margin-left:20px;">
                <li>Tên</li>
                <li>Giá</li>
                <li>Tác Giả</li>
                <li>Nhà Sản Xuất</li>
                <li>Mua Ngay</li>
                <li>@Html.ActionLink("Xem Chi Tiết", "Detail", "Home")</li>
            </ul>
            </div>
    </div>
}
}
<br class="clear" />
@{
    for (int i = 0; i < 5; i++)
    {

        <div class="products">
            <img class="pd-img" src="~/Content/HinhAnh/img04.jpg" width="233" height="245" />
            <div class="pd-des">
                <br>
                <ul style="text-align:left;margin-left:20px;">
                    <li>Tên</li>
                    <li>Giá</li>
                    <li>Tác Giả</li>
                    <li>Nhà Sản Xuất</li>
                    <li>Mua Ngay</li>
                    <li>@Html.ActionLink("Xem Chi Tiết", "Detail", "Home")</li>
                </ul>
            </div>
        </div>
    }
}
<br class="clear" />